annotated-types==0.6.0
attrs==23.2.0
Automat==22.10.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
constantly==23.10.4
Flask==3.0.3
greenlet==3.0.3
hyperlink==21.0.0
idna==3.7
importlib_metadata==7.1.0
incremental==22.10.0
itsdangerous==2.2.0
Jinja2==3.1.4
ldap3==2.9.1
MarkupSafe==2.1.5
ply==3.11
psycopg2-binary==2.9.9
pyasn1==0.6.0
pydantic==2.7.1
pydantic_core==2.18.2
pythonping==1.1.4
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.30
sqlmodel==0.0.18
Twisted==24.3.0
txpostgres==1.7.0
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.3
zipp==3.18.1
zope.interface==6.3
