<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Adminator</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Patternfly -->
    <link href="/static/css/patternfly.css" rel="stylesheet" media="screen, print">
    <link href="/static/css/patternfly-additions.css" rel="stylesheet" media="screen, print">

    <!-- Custom styles -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/pace-theme-flash.css" rel="stylesheet">

    <script src="/static/js/pace.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% block content %}
    {% endblock content %}

<!-- Bootstrap core JavaScript
================================================== -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/moment-with-locales.min.js"></script>
<script src="/static/js/bootstrap-confirmation.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<!-- Placed at the end of the document so the pages load faster -->

<!-- Patternfly -->
<script src="/static/js/patternfly.min.js"></script>

<!-- React + Reflux + ReactBootstrap -->
<script src="/static/js/node_modules/react/dist/react.js"></script>
<script src="/static/js/node_modules/react-dom/dist/react-dom.min.js"></script>
<script src="/static/js/node_modules/react-router/umd/ReactRouter.min.js"></script>
<script src="/static/js/node_modules/react-bootstrap/dist/react-bootstrap.min.js"></script>
<script src="/static/js/node_modules/react-router-bootstrap/lib/ReactRouterBootstrap.min.js"></script>
<script src="/static/js/node_modules/reflux/dist/reflux.min.js"></script>
<script src="/static/js/node_modules/underscore/underscore-min.js"></script>
<script src="/static/js/node_modules/underscore.string/dist/underscore.string.min.js"></script>
<script src="/static/js/react-bootstrap-datetimepicker.js"></script>
<script src="/static/js/react-typeahead.js"></script>

<script src="/static/js/util/griddle-components.js"></script>
<script src="/static/js/util/general.js"></script>
<script src="/static/js/components/alerts.js"></script>
<script src="/static/js/components/pager.js"></script>
<script src="/static/js/node_modules/griddle-react/build/griddle.js"></script>

<script src="/static/js/init.js"></script>

<script src="/static/js/actions/simple.js"></script>
<script src="/static/js/stores/domain.js"></script>
<script src="/static/js/stores/record.js"></script>
<script src="/static/js/stores/device.js"></script>
<script src="/static/js/stores/network.js"></script>
<script src="/static/js/stores/interface.js"></script>
<script src="/static/js/stores/user.js"></script>

<script src="/static/js/components/select.js"></script>
<script src="/static/js/components/record.js"></script>
<script src="/static/js/components/recordDetail.js"></script>
<script src="/static/js/components/recordCreate.js"></script>
<script src="/static/js/components/network.js"></script>


<script src="/static/js/components/domain.js"></script>
<script src="/static/js/components/domainDetail.js"></script>
<script src="/static/js/components/domainEdit.js"></script>

<script src="/static/js/components/device.js"></script>
<script src="/static/js/components/deviceDetail.js"></script>

<script src="/static/js/components/router.js"></script>



</body>
</html>
<!-- vim:set sw=1 ts=1 et: -->
