/* remove double border at paginator */
.table>tbody+tbody {
    border-top-width: 1px !important;
}

.array-row {
    margin-bottom: 4px
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
