{% extends "main.html" %}

{% block title %}Forbidden{% endblock %}

{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 col-md-push-2 buffer-top-md">
   <div class="blank-slate-pf">
    <h2>Forbidden</h2>

    <p>You have not been authorized to access this application.</p>
    <p>
     If you feel that you should be able to use Adminátor, please send your
     request to <a href="mailto:helpdeskict@techlib.cz">helpdeskict@techlib.cz</a>.
    </p>
   </div>
  </div>
 </div>
</div>
{% endblock %}
